
.dropdown-menu{
    width:125px;
    position:absolute;
    top:45px;
    list-style-type:none;
    height: 130px;
    background:#ffff;
    box-shadow:  0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align:start;
    left:-10px;
    transition:550ms ease-in-out;

}

.dropdown-menu li{
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    padding: 0;


}

.dropdown-menu li:hover{
    border-radius: 5px;
    justify-content: center;
}


.drop-link {
    display: block;
    text-decoration: none;
    color: rgb(121, 117, 117);
    font-size: .5rem;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:30px;

  }
  .drop-link:hover{
    background: #a6c9c1;
    border-radius: 5px;
    box-shadow:  0 1px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;  
    color: #fff;
    transition:200ms ease-in-out;

  }
  
  .dropdown-menu.clicked{
    display: none; 
}
  
.dropdown-title{
  margin-left: 5px;
}

.icons{
  color: #0a8640f2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icons:hover{
  color: #fff;
}