.servicesContainer{
    width:100%;
    /* min-height:50vh; */
    padding:3rem calc((100vw-1300px)/2);
    background:#f4e8e8;
    color:#000;
     }
    
    
     .servicesHeading {
    font-size:clamp(2rem, 2.5vw, 3rem);
    text-align:center;
    position:relative;
    top:20px;
    font-weight:600;
    margin-bottom:2rem;
    letter-spacing:5px;
    }
    .servicesWrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    }
    
    .servicesCard {
    margin:2rem 1rem;
    line-height:1.5;
    width:350px;
    padding:3rem 2rem;
    background: #fff;
    outline:var(--outline);
    text-align: center;
    box-shadow:0 .2rem 1rem rgba(0,0,0,.1);
    border-radius:4px;
    transition:transform 0.3s ease-in;
    }
    .servicesCard:hover{
    outline:var(--outline-hover);
    transform:scale(1);  

    }
    .servicesImg {
    cursor:pointer;
    margin:.1rem 0;
    height: 10rem;
    transition:transform 0.3s ease-in;
    
    }
    
    .servicesImg:hover{
        transform:scale(1.1);   
    }
    .servicesTitle {
        font-weight:400;
        font-size: 1.5rem;
        line-height: 1.8;
        color:var(--black);
        }
    .servicesInfo{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    }
 
    .servicesDesc {
    margin-bottom:.5rem;
    line-height: 1.8;
    color:var(--medium-gray);
    font-size:.9rem;
    }
  
    .servicesBtn{
        display: inline;
    font-size:1rem;
    padding:.4rem 2rem;
    border:.2rem solid var(--black);
    font-weight:500;
    background:none;
    color:var(--black);
    transition:background,color,cursor,0.2s ease-out;
    }
    
    
    .servicesBtn:hover{
        background:var(--green-color);
        cursor:pointer;
        color:#fff; 
    
    }
    