.servicesContainer{
    width:100%;
    min-height:90vh;
    padding:3rem calc((100vw-1300px)/2);
    background:#f4e8e8;
    color:#000;
     }
    
    
     .servicesHeading {
    font-size:clamp(2rem, 2.5vw, 3rem);
    text-align:center;
    position:relative;
    top:20px;
    font-weight:600;
    margin-bottom:3rem;
    letter-spacing:5px;
    }
    .servicesWrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:0 auto;
    }
    
    .servicesCard {
    margin:2rem 1rem;
    line-height:2;
    width:350px;
    /* padding:1rem 1rem; */
    background: #fff;
    /* outline:1rem solid rgba(0,0,0,.1);
    outline-offset: -1rem; */
    text-align: center;
    box-shadow:0 .2rem 1rem rgba(0,0,0,.1);
    border-radius:4px;

    
    }
    .servicesImg {
    padding-top:2rem;
    cursor:pointer;
    margin:.1rem 0;
    height: 14rem;
    transition:transform 0.3s ease-in;
    
    }
    
    .servicesImg:hover{
        transform:scale(1.1);   
    }
    
    .servicesInfo{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:2rem;
    text-align:center;
    }
    .servicesTitle {
    font-weight:500;
    font-size: 1.5rem;
    line-height: 1.8;
    }
    .servicesDesc {
    margin-bottom:.5rem;
    }
  
    .servicesBtn{
    font-size:1rem;
    padding:.5rem 1rem;
    border:none;
    font-weight:500;
    background:#31876d;
    color:#fff;
    transition:background,color,cursor,0.2s ease-out;
    }
    
    
    .servicesBtn:hover{
        background:#ffc500;
        cursor:pointer;
        color:#000; 
    
    }
    