
.manageProduct-container{
    padding: 0 10px;
    height:100vh;
  
  }
  .callToActions {
    display: inline-block;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
  .product-header{
      font-size:1rem ;
      margin-bottom: 20px;
  }
  
.callToActions-btn {
    margin: 0;
    padding: 8px;
    background-color: rgb(183, 180, 180);
    text-transform: uppercase;
  }
  
.callToActions-btn:hover{
  background-color: rgb(117, 115, 115);
  color:#fff;
  }


  .manageProducts {
    margin-top: .2rem; 
    
  }
  
.manageProducts-header{
    margin-top: .2rem;
    text-transform:uppercase;
  }
.newProduct-container{
  display:flex;
  align-items:center;
  padding: .4rem;
}
.newProduct-wrapper{
  display:flex;
  align-items:center;
  /* background-color:#a09d9d; */
  padding: .4rem
}


  .imgUri{
    width: 15.0rem;
    height: 12rem;
    padding: .4rem

  }
  
  .product-name{
    padding:10px;
  }
  
  .product-price{
    padding:10px;
    
  }
  
  .deleteBtn{
    background-color:rgb(241, 138, 138);
  }
  .deleteBtn:hover{
    background-color:rgb(182, 52, 52);
    color:#fff;
  }
